@model Hotel.BL.Models.RoomViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomStatusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomStatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPerson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
